@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  scroll-behavior: smooth;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-gradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #a78bfa, #7c3aed);
  }
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}
